{% extends "base.jinja" %}

{% block content %}

<h1>Receipts History</h1>

<div class="alert alert-info" role="alert" style="margin-top: 1rem">
    You can right-click on the receipt picture to open them in new tab or save them.
</div>

<div class="ratio ratio-16x9">
    <iframe src="/receipts-frame" style="border:2px solid gray;"></iframe>
</div>

<script>
//TODO: add a widget into the page to change the refresh delay
delay = 5;
</script>

{% endblock %}
