{% extends "base.jinja" %}

{% block content %}

<h1>Usage</h1>

<ol>
<li>
    <p>Copy the simulated ePOS printer IP/URL: </p>
    <div class="input-group input-group-lg">
    <input type="text" class="form-control" id="server-printer-url-input" readonly>
    <button class="btn btn-outline-secondary" type="button" id="server-printer-url-button" onclick="copyServerIPInClipboard()">Copy</button>
    </div>
</li>

<li>
    <p>Paste it into the intended ePOS printer</p>
    <img class="img-fluid" src="/static/epos-printer-url-example.png"/>
    
    <div class="alert alert-info" role="alert" style="margin-top: 1rem">
        It can also be used as a Preparation Printer<br/>
        <img class="img-fluid" src="/static/epos-preparation-printer-url-example.png"/>
    </div>
</li>

<li>
    <p>Go to the <a href="/receipts">Receipts</a> menu</p>
</li>

</ol>


<script>
    const serverIP = window.location.host;
    document.getElementById('server-printer-url-input').value = serverIP;
    
    function copyServerIPInClipboard() {
        navigator.clipboard.writeText(serverIP);
    }
</script>
{% endblock %}
